.list_item{
    display: flex;
    flex-direction: column;
    margin-top:80px !important;
    padding:0px 30px !important;
}

.list_item-text{
    padding:10px 20px !important;
    border-radius:100px;
}
.name_box{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items:center;
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-weight:600;
    font-size:18px

}
.no_chat-selcted{
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
}
.chat-header{
    border-bottom: 1px solid rgba(161, 158, 158, 0.185);
    border-radius: unset !important;

}